<div
  class="pick"
  [class.is-open]="open"
  [class.is-filled]="!!value"
  [class.is-dark]="tone === 'dark'"
>
  <button
    type="button"
    class="pick-trigger"
    [disabled]="disabled"
    [attr.aria-expanded]="open"
    aria-haspopup="listbox"
    [attr.aria-labelledby]="labelledBy || null"
    (click)="toggle(); $event.stopPropagation()"
  >
    <i *ngIf="icon" class="bi pick-ico" [ngClass]="icon" aria-hidden="true"></i>
    <span class="pick-copy">
      <b *ngIf="label">{{ label }}</b>
      <em *ngIf="!label">{{ placeholder }}</em>
      <small *ngIf="hint">{{ hint }}</small>
    </span>
    <i class="bi bi-chevron-down pick-chevron" aria-hidden="true"></i>
  </button>

  <ul *ngIf="open" class="pick-panel" role="listbox" [class.is-dark]="tone === 'dark'">
    <li *ngFor="let opt of options; let i = index; trackBy: trackOpt" role="none">
      <button
        type="button"
        class="pick-option"
        role="option"
        [class.is-on]="opt.value === value"
        [class.is-active]="i === active"
        [attr.aria-selected]="opt.value === value"
        (click)="pick(opt); $event.stopPropagation()"
        (mouseenter)="active = i"
      >
        <span class="pick-idx">{{ indexOf(i) }}</span>
        <i *ngIf="opt.icon" class="bi pick-ico" [ngClass]="opt.icon" aria-hidden="true"></i>
        <span class="pick-copy">
          <b>{{ opt.label }}</b>
          <small *ngIf="opt.hint">{{ opt.hint }}</small>
        </span>
        <i *ngIf="opt.value === value" class="bi bi-check2 pick-check" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</div>
